<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<% @characters.each do |a| %>
    <h2>Personaje: <%= a.name %></h2>
    <p>Locacion: <%= a.location %></p>
    <p>Casa:     <%= a.house %></p>
<% end%>